html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
main {
    /* 1 */
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


/*↑  Normalize css  ↑*/


/*↑  Normalize css  ↑*/


/*↑  Normalize css  ↑*/


/*↑  Normalize css  ↑*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

.container {
    width: 960px;
    margin: auto;
    /*background-color: green;*/
}


/*↓  общие размеры для шрифтов  ↓*/

h2 {
    font-size: 30px;
    line-height: 42px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
}

p {
    font-size: 14px;
    line-height: 24px;
}

label {
    font-size: 14px;
}

input {
    font-size: 14px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
}

input[type="checkbox"],
input[type="radio"] {
    position: relative;
    top: 1px;
}

.btn {
    text-decoration: none;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 13px 14px 15px;
    border-width: 0px;
    border-radius: 0px;
}

.barbershop-page {
    background: url("images/tint.png") -328px 44px, url("images/subtint.png");
}

.tint-active {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

header {
    background-color: rgb(0, 0, 0);
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-links {
    font-size: 0;
}

.top-menu>div,
.top-menu>nav {
    padding: 0px 26px 0px 30px;
}

.top-menu a {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    padding: 26px 0px 22px 0px;
    border-bottom: 4px solid rgb(0, 0, 0);
    display: inline-block;
    margin-right: 40px;
    color: rgb(255, 255, 255);
}

.login-block {
    font-size: 0;
}

.top-menu .login {
    margin-right: 6px;
    text-align: right;
    width: 60px;
    display: inline-block;
    background: url("images/sprite.png") no-repeat -70px -635px;
}

.logo-centerer {
    padding-top: 60px;
    /*↑↑  если поставить margin, то отступ будет делаться очень странно  ↑↑*/
    text-align: center;
    padding-left: 1.354166%;
}

.logo-centerer svg {
    width: 371px;
    height: 155px;
}

.features {
    margin: 35px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.features-item {
    width: 300px;
    text-align: center;
    /*background: url("images/sprite.png") -424px -679px;*/
}

.white-romb::after {
    content: "";
    position: absolute;
    top: 53px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    background: url("images/sprite.png") no-repeat -559px -758px;
}

.features-item p {
    margin-top: 0px;
    padding: 0px 10px;
}

.features-item h2 {
    padding-bottom: 60px;
    position: relative;
    /*background-color: green;*/
}

.features-item:nth-child(2) p {
    padding: 0px 20px;
    /*↑  не знаю шо с распределением текста, пускай будет так  ↑*/
}

.news,
.gallery,
.contacts,
.reserve-form {
    font-size: 0;
}

.main-item {
    margin-top: 35px;
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
    padding-top: 45px;
    padding-bottom: 50px;
    background: url("images/sprite.png") no-repeat -880px -135px, url("images/bg.png");
    /*background-color: green;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main-item:last-child {
    margin-bottom: 65px;
}

.news {
    /*background-color: blue;*/
    width: 350px;
    margin-right: 130px;
}

.news h2 {
    margin-top: 0px;
    margin-left: 1px;
    margin-bottom: -5px;
}

.news p {
    margin-bottom: 5px;
    margin-top: 25px;
}

.news-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.news-link:hover {
    text-decoration: underline;
}

.date {
    font-size: 14px;
    text-transform: lowercase;
    font-weight: 700;
    margin-right: 250px;
    /*костыль костыль костыль как кнопку вниз спихнуть?*/
}

.news .btn {
    width: 140px;
    margin-top: 31px;
}

.gallery {
    /*background-color: yellow;*/
    width: 300px;
    font-size: 0;
}

.gallery h2 {
    margin-top: 0;
    margin-left: 4px;
    margin-bottom: 0;
}

.gallery img {
    margin-top: 22px;
    border: 7px solid rgb(255, 255, 255);
    width: 300px;
    margin-bottom: 38px;
}

.gallery .btn {
    width: 140px;
    margin-right: 20px;
}


/*↓↓  кнопки все еще блочно-строчные, не хочу переделывать  ↓↓*/

.gallery .btn:last-child {
    margin-right: 0;
}


/*↑↑  кнопки все еще блочно-строчные, не хочу переделывать  ↑↑*/

.contacts {
    /*background-color: blue;*/
    width: 350px;
    margin-right: 130px;
}

.contacts h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.contacts p {
    margin-bottom: 5px;
    margin-top: 19px;
}

.contacts .btn {
    margin-top: 18px;
    margin-right: 20px;
    width: 140px;
}

.reserve-form {
    width: 300px;
    /*background-color: yellow;*/
}

.reserve-form h2 {
    margin-top: 0;
    margin-left: 3px;
    margin-bottom: 18px;
}

.reserve-form p {
    margin-left: 3px;
    margin-bottom: 15px;
}

.reserve-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-left: 17px;
    margin-bottom: 13px;
}

.form-group input {
    margin-top: 13px;
    width: 140px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 10px 10px 14px;
    display: block;
}

.reserve-form .btn {
    margin-top: 5px;
    /*↑ +15px form-group margin-bottom, итого 20px ↑*/
    width: 300px;
}

footer {
    background-image: url("images/bg-footer.png");
}

.bot-menu {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    /*background-color: orange;*/
    margin: 0px 10px;
}

.bot-menu a {
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 24px;
}

.find-us {
    text-align: left;
    width: 350px;
    /*background-color: red;*/
}

.find-us a {
    text-decoration: underline;
}

.link-block {
    font-size: 0;
    text-align: center;
    /*background-color: blue;*/
    margin-right: auto;
    width: 250px;
}

.link-block .btn {
    padding: 0;
    display: inline-block;
    text-align: center;
    margin-right: 6px;
    width: 43px;
    height: 43px;
}

.link-block .vk-link {
    background: url("images/sprite.png") no-repeat -50px -353px, rgb(0, 0, 0);
}

.link-block .fb-link {
    background: url("images/sprite.png") no-repeat -50px -556px, rgb(0, 0, 0);
}

.link-block .inst-link {
    background: url("images/sprite.png") no-repeat -52px -452px, rgb(0, 0, 0);
}

.made-by {
    width: 350px;
    font-size: 0;
    text-align: right;
}

.made-by p {
    margin-right: 30px;
}

.made-by .btn {
    padding-top: 9px;
    padding-bottom: 9px;
    width: 140px;
}


/*↑  Barbershop Barbershop  ↑*/


/*↑  Barbershop Barbershop  ↑*/


/*↑  Barbershop Barbershop  ↑*/


/*↑  Barbershop Barbershop  ↑*/

.login-page {
    background-color: rgb(0, 0, 0);
    padding-top: 40px;
}

.login-window {
    color: rgb(0, 0, 0);
    width: 460px;
    margin: auto;
    background: url("images/bg.png");
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.login-window h2 {
    margin-bottom: 15px
}

.login-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.login-name,
.login-password {
    width: 300px;
    padding: 10px;
    padding-left: 15px;
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}


/*↓↓ стилизация placeholder ↓↓*/

.correct::-moz-placeholder {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.correct::-moz-placeholder {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.correct::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.correct::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}


/*↑↑ стилизация placeholder ↑↑*/

.login-name {
    background: url("images/sprite.png") no-repeat 99px -758px;
}

.login-password {
    background: url("images/sprite.png") no-repeat 200px -55px;
}

.login-name.incorrect {
    background: url("images/sprite.png") no-repeat -1117px -708px, url("images/sprite.png") no-repeat 99px -758px;
}

.login-password.incorrect {
    background: url("images/sprite.png") no-repeat -1117px -708px, url("images/sprite.png") no-repeat 200px -55px;
}

.incorrect::-moz-placeholder {
    color: rgb(255, 0, 0) !important;
    text-transform: uppercase !important;
}

.incorrect::-webkit-input-placeholder {
    color: rgb(255, 0, 0) !important;
    text-transform: uppercase !important;
}

.login-form .remember {
    margin: 0;
    margin-right: 6px;
    /*↑  +-  ↑*/
}

.login-form label {
    margin-right: auto;
    position: relative;
    padding-left: 30px;
}

.login-form a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.login-form .btn {
    width: 300px;
    margin-top: 15px;
}

.login-form input[type="checkbox"] {
    display: none;
}

.close-modal {
    top: 6px;
    right: -26px;
    border: none;
    position: absolute;
    width: 21px;
    height: 21px;
    background: url("images/sprite.png") -63px -264px;
}

.close-modal:focus {
    outline: 1px solid rgb(208, 208, 208);
}

.modal {
    position: fixed;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -230px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s linear;
}

.opened {
    opacity: 1;
    visibility: visible;
}


/*↑  Будущая модалка  ↑*/


/*↑  Будущая модалка  ↑*/


/*↑  Будущая модалка  ↑*/


/*↑  Будущая модалка  ↑*/

.shop-page {
    background-image: url("images/bg.png");
}

.shop-page .top-links a:nth-child(4) {
    border-color: rgb(255, 255, 255);
}

.shop-page .top-menu {
    justify-content: flex-start;
}

.shop-page .login-block {
    margin-left: auto;
    padding-right: 25px;
}

.shop-page .shop-logo {
    margin-right: 0;
    /*↑↑  переопределяю margin-right:40px от селектора .top-menu a  ↑↑*/
    margin-left: 20px;
    height: 76px;
    padding-right: 10px;
    padding-left: 10px;
}

.shop-main {
    color: rgb(0, 0, 0);
}

.shop-main .shop-title {
    margin-left: 10px;
    margin-top: 48px;
    margin-bottom: 20px;
}

.shop-breadcrumbs {
    margin-left: 10px;
    margin-bottom: 25px;
}

.shop-breadcrumbs a {
    color: rgb(0, 0, 0);
    position: relative;
    text-decoration: none;
    padding-right: 25px;
}

.black-romb::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 3px;
    right: 5px;
    background: url("images/sprite.png") -68px -170px;
}

.shop-breadcrumbs a:last-child {
    color: rgb(171, 169, 167);
}

.filters-and-catalog {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.shop-filters {
    margin-left: 10px;
    width: 220px;
}

.custom-checkbox::after {
    content: "";
    position: absolute;
    left: 0px;
    margin-top: -12px;
    top: 50%;
    background-color: rgb(249, 246, 243);
    width: 20px;
    height: 20px;
    border: 2px solid rgb(0, 0, 0);
}

input.hidden-checkbox:checked+label::after {
    background: url("images/sprite.png") -864px -716px;
}

.custom-radiobutton::after {
    content: "";
    position: absolute;
    left: 0;
    margin-top: -12px;
    top: 50%;
    background-color: rgb(249, 246, 243);
    width: 20px;
    height: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
}

input.hidden-radiobutton:checked+label::after {
    background: url("images/sprite.png") -963px -715px;
}

.shop-filters h3 {
    margin-top: 0;
    margin-bottom: 30px;
}

.shop-filters input {
    display: none;
}

.shop-filters .filters-input-group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.shop-filters label {
    margin-left: 28px;
    margin-right: 20px;
    margin-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
}

.shop-filters label {
    position: relative;
}

.product-groups {
    margin-top: 38px;
}

.shop-catalog {
    width: 710px;
}

.shop-filters .btn {
    margin-top: 20px;
    width: 112px;
}

.catalog-block {
    margin-right: 10px;
    list-style: none;
    margin-left: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.catalog-item {
    background-color: rgb(255, 255, 255);
    width: 220px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(58, 58, 58, 0.3);
    margin-right: 20px;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item p {
    line-height: 18px;
}

.item-info {
    padding: 16px;
}

.item-name {
    text-transform: none;
    margin-top: 5px;
}

.price-buy {
    font-size: 0;
}

.item-price {
    border-radius: 0;
    font-size: 14px;
    display: inline-block;
    width: 110px;
    background-color: rgb(229, 229, 229);
    padding: 14px 13px 14px 15px;
    text-align: center;
    margin-top: 5px;
}

.catalog-item p {
    margin: 0;
}

.catalog-item .btn {
    width: 78px;
}

.pagination {
    margin-top: 25px;
    font-size: 0;
}

.pagination .btn {
    width: 43px;
    margin-right: 7px;
}

.pagination .btn:nth-child(2) {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}


/*↑  Магазин Магазин  ↑*/


/*↑  Магазин Магазин  ↑*/


/*↑  Магазин Магазин  ↑*/


/*↑  Магазин Магазин  ↑*/

.shop-item {
    background-image: url("images/bg.png");
}

.shop-item .top-links a:nth-child(4) {
    padding-bottom: 22px;
    /*↑  на 4 меньше обычного потому что ↓рамка↓  ↑*/
    border-bottom: 4px solid rgb(255, 255, 255);
}

.shop-item .top-menu {
    justify-content: flex-start;
}

.shop-item .login-block {
    margin-left: auto;
    padding-right: 25px;
}

.shop-item .shop-logo {
    margin-right: 0;
    /*↑↑  переопределяю margin-right:40px от селектора .top-menu a  ↑↑*/
    margin-left: 20px;
    height: 76px;
    padding-right: 10px;
    padding-left: 10px;
}

.shop-item-main {
    color: rgb(0, 0, 0);
}

.shop-item-main .shop-title {
    margin-left: 10px;
    margin-top: 48px;
    margin-bottom: 20px;
}

.pics-and-description {
    margin-top: 55px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.pics {
    width: 460px;
}

.pics img {
    margin: 0;
    box-shadow: 0 0 10px rgba(148, 148, 148, 0.432)
}

.all-pics {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.description-block {
    width: 400px;
    padding: 8px;
}

.amount-and-index {
    display: flex;
    justify-content: space-between;
}

.description {
    margin-bottom: 30px;
}

.amount,
.index {
    display: inline-block;
}

.index {
    color: rgb(171, 169, 167);
    margin-right: 1px;
}

.description-block .btn {
    width: 78px;
}

.item-content-block {
    margin-top: 62px;
}

.item-conent-block h3 {
    margin-bottom: 27px;
}

.item-contains {
    padding: 0;
    margin: 0;
    list-style: none;
}

.item-contains li {
    padding-left: 20px;
    margin-bottom: 8px;
    position: relative;
}

.item-contains .black-romb::after {
    left: 0;
    top: 2px;
}