.vk,
.stick,
.rhombus,
.login,
.instagram,
.facebook {
    background: url(sprites.png) no-repeat;
}

.vk {
    background-position: -11px -17px;
    width: 27px;
    height: 15px;
}

.stick {
    background-position: -119px -31px;
    width: 8px;
    height: 278px;
}

.rhombus {
    background-position: -19px -70px;
    width: 11px;
    height: 12px;
}

.login {
    background-position: -17px -120px;
    width: 14px;
    height: 14px;
}

.instagram {
    background-position: -13px -166px;
    width: 20px;
    height: 20px;
}

.facebook {
    background-position: -18px -212px;
    width: 11px;
    height: 22px;
}