body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    background-image: url("images/tint.png");
    background-position: -50px 40px;
    color: white;
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

.top-menu,
.content-container,
.bot-menu {
    width: 960px;
    margin: auto;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    font-size: 30px;
    line-height: 42px;
}

h3 {
    font-size: 30px;
    line-height: 42px;
}

p {
    font-size: 14px;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: black;
}

.top-menu {
    padding: 26px;
}

.top-menu a {
    margin-right: 40px;
    color: white;
    text-decoration: none;
}

.top-menu .login {
    float: right;
    margin-right: 6px;
}

.logo-centerer {
    margin-top: 60px;
    text-align: center;
}

.features {
    margin-top: 60px;
    width: 960px;
}

.features-item {
    width: 300px;
    float: left;
    text-align: center;
    margin-right: 20px;
}

.features-item:first-child {
    margin-left: 10px;
}

.features-item:last-child {
    margin-right: 0px;
}

.news-and-gallery {
    margin-top: 36px;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    background-image: url("images/bg.png");
    background-color: white;
}

.news,
.gallery {
    width: 470px;
    float: left;
    padding: 30px;
}

.news {}

.gallery {
    margin-right: 0px;
}

.contacts-and-form {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    background-image: url("images/bg.png");
    background-color: white;
}

.contacts,
.reserve-form {
    width: 470px;
    float: left;
    padding: 30px;
}

.reserve-form {
    margin-right: 0px;
}