body {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    /*background-image: url("images/tint.png");
    background-position: 0px 40px;*/
}

a {
    color: white;
    text-decoration: none;
}


/* 
.positioner {
    width: 60%;
    margin: auto;
}

.logo-centerer {
    text-align: center;
}

.advantages-item {
    float: left;
    width: 30%;
}

.news {
    clear: both;
}
*/